*.log
*.bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
.Python
env/
deploy/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
base/
.installed.cfg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
.idea/

# Python dev resources
venv/
*.migrations/
*.sqlite3
**/migrations
dump.rdb

*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.pot

# Django stuff:
*.log


